/***********location grid**********/
.pj-location-gridd{
	overflow: hidden;
}
.pj-location-grid table.display th, 
.pj-location-grid table.display td {
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-right: 10px;
}
.pj-location-grid .pj-first-column table.display td{
	color: #21201f;
	font-size: 13px;
	
}
.pj-location-grid .pj-location-column table.display td{
	padding-right: 0px;
	padding-left: 0px;
}
.pj-location-grid .pj-first-column table.display td,
.pj-location-grid .pj-first-column table.display th{
	border-right: none;
	background-color: #f4f4f4;
}
.pj-location-grid .pj-first-column table.display th{
	background-color: #f4f4f4;
	color: #acacab;
	font-weight: bold;
	font-size: 14px;
}
.pj-location-grid .pj-location-column table.display th{
	color: #21201F;
    font-size: 13px;
	background-color: #f4f4f4;
}
.pj-location-grid .pj-location-column table.display th a{
	color: #369bcf;
}
.pj-first-column{
	margin-top: 24px;
	border-right: 1px solid #CCCCCC;
    float: left;
    overflow: hidden;
}
.pj-first-column table th,.pj-first-column table td {
	width: 80px;
	border-right: none;
}
.pj-first-column table td{
	color: #474646;
	font-size: 12px;
}

.pj-location-column table th.first-col, .pj-location-column table td.first-col {
	border-left: none;
}
.pj-location-column table td{
	color: #827f7f;
}
.pj-location-column table th .break{
	height: 8px;
}
table#compare_table tr {
	
}

#compare_table {
	margin-bottom: 4px;
}
table#compare_table td{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
table#compare_table td input{
	text-align: center;
}
.wrapper1,.wrapper2 {
	overflow: auto; 
	-ms-overflow-y: hidden;
	overflow-y:hidden;
}

.wrapper1 {
	height: 17px;
	margin-bottom: 7px;
}
.wrapper2{
	margin-top: 4px;
}
.div1-compare{
	height: 20px;
}

.div2-compare{
	overflow: auto;
}