/*
1: verde - generado
2: amarillo - impreso
3 : red : anulado;
*/
h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
span.red {
    background: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 0px;
    text-align: center;
    width: 1.3em;
}

span.grey {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 0px;
    text-align: center;
    width: 1.3em;
}

span.green {
    background: #5EA226;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 0px;
    text-align: center;
    width: 1.3em;
}

span.blue {
    background: #5178D0;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 0px;
    text-align: center;
    width: 1.3em;
}

span.pink {
    background: #EF0BD8;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 0px;
    text-align: center;
    width: 1.3em;
}

span.yellow {
    background: #f0ad4e;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 0px;
    text-align: center;
    width: 1.3em;
}